@use "./abstracts/_variables" as *;
@use "./components/__button" as *;
@use "./components/__card" as *;
@use "./components/__input" as *;
@use "./components/__authpopup" as *;
@use "./abstracts/_container" as *;
@use "./layouts/__header" as *;
@use "./layouts/__footer" as *;
@use "./pages/_home" as *;
@use "./pages/_aboutme" as *;
@use "./components/_serviceCard" as *;
@use "./components/_scrollwatcher" as *;
@use "./pages/_service" as *;
@use "./pages/_project" as *;
@use "./components/_projectCard" as *;
@use "./pages/_contact" as *;
@use "./components/_contactCard" as *;

body{
    margin : 0;
    background-color: $dark-bg;
}

html {
    scroll-behavior: smooth;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}