@use '../abstracts/_variables' as *;

.header {
    position: sticky;
    top: 0;
    margin-bottom: 5rem;
    background-color: $dark-bg;
    border-bottom: $border-width-small solid $border-color-light;
    z-index: 100;

    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        font-family: $font-family-primary;

        &__logo{
            display: flex;
            font-size: $Fontsize-xl;
            font-weight: bold;
            color: $text-color-light;
            text-decoration: none;

            &--first{
                color: $primary-color;
            }

            &--second{
                color: $text-color-light;
            }
        }

        &-links{
            display: flex;
            gap: 3rem;
            list-style: none;
            align-items: center;
        }

        &-link{
            color:  $text-color-light;
            text-decoration: none;
            font-size: $Fontsize-s;
            transition: all 0.3s ease;

            &:hover{
                border-bottom: 1px solid $primary-color;
                color: $primary-color;
            }
        }
    }
}