@use '../abstratcs/_variables' as *;

.banniere {
    position: sticky;
    top: 0;
    background-color: $bg-soft;
    border: 1px solid $surface-2;
    margin: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    &__text {
        display: flex;
        text-align: center;
        font-family: $font-family;
        font-weight: 400;
        font-style: italic;
        color: $textColor-dim;
        font-size: large;
        margin: 0.5rem 1rem;
        font-size: 0.875rem;
        font-weight: 400;
        transition: all 0.3s ease-in-out;

        &:hover{
            cursor: pointer;
            color : $textColor;
        }
    } 
}