@use '../abstratcs/_variables' as *;

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    background-color: blur($bg, 0.5);

    &__menu{
        display: flex;
        gap: 50px;

        &--links{
            text-decoration: underline;
            text-decoration-color: transparent;
            text-underline-offset: 6px;
            color: $textColor-dim;
            font-family: $font-family;
            font-size: 0.875rem;
            transition: color 0.3s ease, text-decoration-color 0.3s ease;

            &:hover{
                color: $textColor;
                text-decoration-color: $textred;
            }
        }
    }

    &__logo{
        text-decoration: none;
        color: $textColor;
        font-family: $font-family;
        font-size: 1.3rem;
        font-weight: 700;

        &--red{
            color: $textred;
        }
    }

    &__auth{
        display: flex;
        gap: 20px;
    }
}