@use '_variables' as *;

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 7rem 50px $space-4xl 50px;

    @media (max-width: $wideScreen)  {
        padding: $space-4xl 0px;
    }

    @media (max-width: $DesktopScreen)  {
        max-width: $LaptopScreen;
        padding: $space-3xl 50px;
    }

    @media (max-width: $LaptopScreen)  {
        max-width: $tabletScreen;
        padding: 3.5rem 50px;
    }

    @media (max-width: $tabletScreen)  {
        max-width: $mobileScreen;
        padding: $space-2xl 24px;
    }

    @media (max-width: $mobileScreen)  {
        padding: $space-xl 20px;
    }
}

.container--small {
    width: 100%;
    max-width: $DesktopScreen - 100px;
    margin: 0 auto;
    padding: $space-4xl 50px $space-5xl 50px;

    @media (max-width: $wideScreen)  {
        padding: $space-5xl 0px;
    }

    @media (max-width: $DesktopScreen)  {
        max-width: $LaptopScreen;
        padding: $space-3xl 50px;
    }

    @media (max-width: $LaptopScreen)  {
        max-width: $tabletScreen;
        padding: 3.5rem 50px;
    }

    @media (max-width: $tabletScreen)  {
        max-width: $mobileScreen;
        padding: 3.5rem 24px;
    }

    @media (max-width: $mobileScreen)  {
        padding: $space-2xl 20px;
    }

    &-2{
        width: 100%;
        max-width: $DesktopScreen - 100px;
        margin: 0 auto;
        padding: $space-md 50px;

        @media (max-width: $wideScreen)  {
            padding: $space-xl 0px;
        }

        @media (max-width: $DesktopScreen)  {
            max-width: $LaptopScreen;
            padding: $space-xl 50px;
        }

        @media (max-width: $LaptopScreen)  {
            max-width: $tabletScreen;
            padding: $space-xl 50px;
        }

        @media (max-width: $tabletScreen)  {
            max-width: $mobileScreen;
            padding: $space-lg 24px;
        }

        @media (max-width: $mobileScreen)  {
            padding: $space-md 20px;
        }
    }
}

.navcontainer {
    width: 100%;
    max-width: $DesktopScreen + 400px;
    margin: 0 auto;
    padding: 0 50px;

    @media (max-width: $tabletScreen)  {
        max-width: $mobileScreen;
        padding: 0 24px;
    }

    @media (max-width: $mobileScreen)  {
        padding: 0 20px;
    }
}

.footercontainer {
    width: 100%;
    max-width: 1400px;
    margin: $space-2xl auto 0 auto;
    padding: 0 50px;

    @media (max-width: $tabletScreen)  {
        max-width: $mobileScreen;
        padding: 0 24px;
    }

    @media (max-width: $mobileScreen)  {
        padding: 0 20px;
    }
}

.authcontainer {
    width: 100%;
    max-width: $DesktopScreen + 575px;
    margin: 0 auto;
    padding: 0;

    @media (max-width: $wideScreen)  {
        padding: 0 50px;
    }

    @media (max-width: $LaptopScreen)  {
        max-width: $tabletScreen;
        padding: 0 50px;
    }

    @media (max-width: $tabletScreen)  {
        max-width: $mobileScreen;
        padding: 0 24px;
    }

    @media (max-width: $mobileScreen)  {
        padding: 0 20px;
    }
}

.detailsprojectcontainer {
    width: 100%;
    max-width: $DesktopScreen + 575px;
    margin: 0 auto;
    padding: 0;

    @media (max-width: $wideScreen)  {
        padding: 0 50px;
    }

    @media (max-width: $LaptopScreen)  {
        max-width: $tabletScreen;
        padding: 0 50px;
    }

    @media (max-width: $tabletScreen)  {
        max-width: $mobileScreen;
        padding: 0 24px;
    }

    @media (max-width: $mobileScreen)  {
        padding: 0 20px;
    }
}