@use '../abstratcs/_variables' as *;

.btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    text-decoration: none;
    font-family: $font-family;
    transition: all 0.3s ease;

    &-primary {
        display: flex;
        justify-content: center;
        background-color: $textred;
        color: $textColor;
        border: 1px solid $textred;
    }

    &-secondary {
        display: flex;
        justify-content: center;
        background-color: transparent;
        border: 1px solid $surface-2;
        color: $textColor;
    }

    &:hover {
        background-color: transparent;
        color: $textred;
        border: 1px solid $textred;
        cursor: pointer;
    }
}

@media (max-width: $wideScreen) {
    .btn {
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
    }
}

@media (max-width: $DesktopScreen) {
    .btn {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
}