@use '../abstratcs/_variables' as *;

.CardParcours {
    display: flex;
    flex-direction: row;
    transition: $transition-base;
    
    &__left{
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 30%;
    }

    &__right{
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 70%;
    }

    &__date{
        color: $textred-soft;
        font-family: $font-family;
        margin : 1rem 0 0.5rem 0;
        font-weight: $fw-medium;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__title{
        font-size: 2rem;
        color: $textColor;
        font-family: $font-family;
        font-weight: $fw-bold;
        margin: $space-xs 0 0 0;
        transition: $transition-base;
    }

    &__sub{
        font-size: 1.10rem;
        color: $textColor-dim;
        font-family: $font-family;
        font-weight: $fw-regular;
        line-height: 30px;
    }

    &__description{
        font-size: 1.10rem;
        color: $textColor-dim;
        font-family: $font-family;
        font-weight: $fw-regular;
        line-height: 30px;
        max-width: 90%;
        margin-bottom: 0;
    }

    &:hover{
        .CardParcours__title{
            color: $textred-soft;
        }

        transform: scale(1.02);
        transition: $transition-base;
        cursor: pointer;
    }
}

@media (max-width: $wideScreen){
    .CardParcours{
        width: 80%;
        padding: $space-md $space-md;

        &__title{
            font-size: 1.5rem;
        }

        &__sub{
            font-size: 0.875rem;
        }

        &__description{
            font-size: 0.75rem;
        }
    }
}

@media (max-width: $LaptopScreen){
    .CardParcours{
        width: 100%;
        padding: $space-md $space-md;

        &__title{
            font-size: 1.25rem;
        }

        &__sub{
            font-size: 0.875rem;
        }

        &__description{
            font-size: 0.75rem;
        }
    }
}

@media (max-width: $tabletScreen){
    .CardParcours{
        width: 100%;
        padding: $space-md $space-md;
        flex-direction: column;

        &__left{
            width: 100%;
            margin-bottom: $space-md;
        }

        &__right{
            width: 100%;
        }

        &__title{
            font-size: 1.25rem;
        }

        &__sub{
            font-size: 0.875rem;
        }

        &__description{
            font-size: 0.75rem;
            text-align: justify;
        }
    }
}