@use '../abstratcs/_variables' as *;

.CardProject {
    background-color: $bg-soft;
    border : 1px solid $surface-2;
    border-radius: 10px;
    padding: 2rem;
    transition: all 0.5s ease-in-out;

    &__title {
        font-size: 1.5rem;
        color: $textColor;
        font-family: $font-family;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__description {
        font-size: 1rem;
        color: $textColor-dim;
        font-family: $font-family;
        line-height: 1.5;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &:hover {
        border-color: $textred-soft;
        box-shadow: 0 4px 20px rgba($textred-soft, 0.5);
    }
}

@media (max-width: $wideScreen) {
    .CardProject {
        
        &__title {
            font-size: 1.25rem;
        }

        &__description {
            font-size: 0.875rem;
        }
    }
}