@use '../abstracts/_variables' as *;

.Aboutme {
  animation: reveal-blur-up linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  scroll-margin-top: 9.5rem;
  font-family: $font-family-primary;

  &__title {
    display: flex;
    font-size: $Fontsize-3xl;
    margin: 0;
    margin-bottom: 2rem;

    &--first {
      color: $text-color-light;
      margin: 0;
    }

    &--second {
      color: $primary-color;
      margin: 0;
      margin-left: 1rem;
    }
  }

  &__description {
    display: flex;
    color: $text-color-light;
    font-size: $Fontsize-s;
    margin-bottom: 3rem;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (max-width: $mediascreen-xl) {
  .Aboutme {
    &__title {
      justify-content: center;
    }

    &__description {
      justify-content: center;
      text-align: justify;
    }
  }
}

@media screen and (max-width: $mediascreen-m) {
  .Aboutme {
    &__title {
      font-size: $Fontsize-2xl;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--first {
        display: flex;
        justify-content: center;
      }

      &--second {
        display: flex;
        justify-content: center;
        margin: 0;
      }
    }

    &__description {
      font-size: $Fontsize-xs;
      justify-content: center;
      text-align: center;
    }

    &__list {
      flex-direction: column;
      align-items: center;
    }
  }
}
