@use '../abstracts/_variables' as *;

.card {
    display: inline-block;
    padding: 0.75rem 4rem;
    border-radius: $border-radius-small;
    border-width: $border-width-small;
    border-style: solid;
    border-color: $primary-color;
    background-color: $primary-background-color;
    transition: all $transition-duration $transition-timing-function;

    &-title {
        font-size: 2rem;
        color: $primary-color;
    }

    &:hover {
        transform: scale(1.025);
        background-color: rgba($primary-color, 0.15);
    }
}