@use '../abstracts/_variables' as *;

.panel {
  align-items: center;
  background-color: $dark-bg;
  border: none;
  padding: 2rem;
  border-radius: 1rem;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0 1rem 0;
    gap: 2rem;
  }

  &__title {
    font-size: $Fontsize-xl;
    color: $text-color-light;
    font-family: $font-family-primary;
    text-align: center;

    &--validation {
      font-size: $Fontsize-xl - 0.1;
      color: $text-color-light;
      font-family: $font-family-primary;
      text-align: center;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0rem;

    &--validation {
      display: flex;
      gap: 0.5rem;
    }
  }

  &__message {
    color: $text-color-light;
    font-size: $Fontsize-s;
    font-family: $font-family-primary;
    text-align: center;
    margin: 0;
  }

  &__inputs {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    &--project {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      align-items: center;
    }
  }

  &__1grid {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    &--input {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      .input {
        flex: 1;
      }
    }
  }

  &__1grid-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 50px;
    max-width: 100%;
    overflow: hidden;
  }

  &__1grid-item {
    font-family: $font-family-primary;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background-color: $secondary-background-color;
    border: $border-width-small solid $secondary-color;
    color: $text-color-light;
    border-radius: $border-radius-small;
    padding: 0.3rem 0.75rem;
    font-size: $Fontsize-xs;

    button {
      background: none;
      border: none;
      color: $text-color-light;
      cursor: pointer;
      font-size: 0.9rem;
      opacity: 0.6;
      padding: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

  &--popup {
    border: $border-width-small solid $border-color-light;
    min-width: 25%;
    max-width: 500px;
  }
}

hr {
  width: 90%;
  border-color: rgb(185, 185, 185);
}
