@use '../abstracts/_variables' as *;

.serviceCard{
    border: $border-width-small solid rgba($primary-color, 0.25);
    border-radius: $border-radius-large;
    padding : 2rem;
    max-width: 20rem;
    transition: all 0.5s ease-in-out;
    
    &__title{
        color: $text-color-light;
        font-size: $Fontsize-xl;
        margin: 2rem 0 0 0;
    }

    &__description{
        color: $text-color-light;
        font-size: $Fontsize-s;
        margin: 1rem 0 0 0;
    }

    &__icone{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: $text-color-light;
        background-color: $primary-color;
        padding: 0.25rem;
        max-width: 3rem;
        min-height: 3rem;
        border-radius: $border-radius-medium;
        
        &:hover{
            animation: spin 1.75s ease-in-out 1;
        }
    }

    &:hover{
        background: linear-gradient(145deg, $primary-background-color, $dark-bg);
        border: $border-width-small solid $primary-color;
        transform: scale(1.025);

        .serviceCard__title{
            color: $primary-color;
        }
    }
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(720deg); }
}
