@use "../abstracts/_variables" as *;

.service{
    scroll-margin-top: 9.5rem;
    font-family: $font-family-primary;
    min-height: calc(100vh - 8rem);

    &__title {
        display:flex;
        justify-content: center;
        font-size: $Fontsize-3xl;
        margin: 1rem 0 1.5rem 0;

        &--first{
            color: $text-color-light;
            margin: 0;
        }

        &--second{
            color: $primary-color;
            margin: 0;
            margin-left: 1rem;
        }
    }

    &__subtitle{
        display: flex;
        justify-content: center;
        font-size: $Fontsize-l;
        color: $text-color-light;
    }

    &__card-list{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;  
    }
}