@use '../abstratcs/_variables' as *;

.projects {
    
    &__header{
        &-title{
            font-size: 0.75rem;
            color: $textColor-dim;
            font-family: $font-family;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
        }

        &-subtitle{
            font-size: 3.25rem;
            color: $textColor;
            font-family: $font-family;
            font-weight: 1000;
            margin: 0.5rem 0 0 0;
            margin-bottom: 2.5rem;

            &--red{
                color: $textred-soft;
                font-family: $font-family-secondary;
                font-style: italic;
                font-weight: 400;
            }
        }
    }

    &__cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}