// -- Color variables --
$primary-color: rgb(255, 68, 56);
$primary-background-color: rgba($primary-color, 0.15);

$secondary-color: rgb(107, 107, 107);
$secondary-background-color: rgba($secondary-color, 0.15);

$dark-bg: #151515;